<div style="height:70vh; max-height:none;">
  <table class="data-table">
    <thead>
      <tr>
        {{!-- <th class="u-align-right" style="max-width: 4rem;">Orde</th> --}}
        <th style="width: 600px;">Titel agendapunt</th>
        <th>Geplande openbaarheid</th>
        <th>
          <div class="grid">
            <div class="col--2-12">Acties</div>
            <div class="col--10-12 u-align-right">
              {{#wu-button
                 class="button button--small button--narrow"
                 size="small"
                 isNarrow=true
                 onClick=(action 'create' agendapunt)}}
                <i class="vi vi-plus vi-u-xs"></i> Voeg agendapunt toe
              {{/wu-button}}
            </div>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
    	{{#unless agendapunten}}
    		<tr>
    			<td colspan="3">Geen agendapunten gevonden.</td>
    		</tr>
    	{{/unless}}
      {{#each agendapunten as |agendapunt|}}
        <tr>
          {{!--  <td class="u-align-right">1</td> --}}
          <td>
            <p>{{agendapunt.titel}}</p>
          </td>
          <td>
            {{#if agendapunt.geplandOpenbaar}}
              Openbaar
            {{else}}
              Besloten
            {{/if}}
          </td>
          <td>
            {{#wu-button-group}}
              {{#wu-button
                 class="button button--alt button--small button--narrow delete-me-switch-move-agendapunt"
                 size="small"
                 isNarrow=true
                 label="Bewerk"
                 onClick=(action 'edit' agendapunt)}}
                <i class="vi vi-edit"></i> Bewerk agendapunt
              {{/wu-button}}
            {{/wu-button-group}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

{{yield}}
